@model Product
<div class="text-center">
    <h1 class="display-4">Product Name : @Model.Name</h1>
    <h1 class="display-4">Product Price : @Model.Price</h1>
    <h1 class="display-4">Company Name : @Model.Company.Name</h1>
    <h1 class="display-4">Company Id : @Model.Company.Id</h1>
</div>
